*
{
    margin: 0;
    padding: 0;
}

.main_body
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 440px;
    height: 440px;
    margin-top: -215px;
    margin-left: -235px;

    cursor: pointer;

    background: url(./Checkerboard.png) no-repeat;
}

.main_body .boxes
{
    font-size: 0;

    margin-top: 17px;
    margin-left: 18px;
}
.main_body .boxes > div
{
    display: inline-block;

    width: 44px;
    height: 44px;
    margin: 1px;

    border: 2px solid transparent;
}
.play1
{
    font-size: 20px;
    font-weight: bold;
    line-height: 55px;

    position: absolute;
    left: 42%;

    width: 55px;
    height: 55px;
    margin-top: 20px;
    margin-left: -22px;

    text-align: center;

    border: 1px solid #ff8c00;
}
.play2
{
    font-size: 20px;
    font-weight: bold;
    line-height: 55px;

    position: absolute;
    left: 52%;

    width: 55px;
    height: 55px;
    margin-top: 20px;
    margin-left: -22px;

    text-align: center;

    border: 1px solid #4593fd;
}

.win
{
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;

    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;

    display: none;

    width: 220px;
    height: 110px;
    margin-top: -120px;
    margin-left: -150px;

    text-align: center;

    border: 2px solid #ff8c00;
    background: #f7f7f7;
}
.win ul
{
    list-style: none;
}
.win ul li
{
    font-size: 22px;
    line-height: 40px;

    display: inline-block;

    width: 65px;
    height: 40px;
    margin: 5px;

    cursor: pointer;

    border: 2px solid #82bcf6;
}
